.header { color: black; 
        text-align: center;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.footer {color: black; 
    text-align: center;
    
}

#content,#navigation, #summary{
    padding: 0px;
    height: 100px;
    background-color: bisque;
}

.navigation  {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
  }
  
  a:link {
    color:blue;
  }
  
  a:visited {
    color:black;
  }
  
  a:hover {
    text-decoration: underline;
    color: #00c;
    font-family: monospace;
    font-weight: bold;
  }
  
  a:active {
    font-weight: bold;
    text-decoration: none;
  }
  